[*]
end_of_line=lf
guidelines = 90 1px solid 77777799

[*.{cs,fs}]
indent_style = space
insert_final_newline=true

[*.cs]
tab_width=4

[*.fs]
tab_width=2
indent_size=2
max_line_length=90

[*.{fsx,fsi}]
indent_style = space
tab_width=2
indent_size=2
max_line_length=90

[*.ts]
indent_style = space
tab_width=2
indent_size=2
