name: Build & Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check-out Repo # (under $GITHUB_WORKSPACE)
      uses: actions/checkout@v2

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.805

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14

    - name: Build & Run Tests
      uses: GabrielBB/xvfb-action@v1.2
      with:
        run: ./do build test --production

  format:
    runs-on: ubuntu-latest
    steps:
    - name: Check-out Repo
      uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install Node.js Dependencies
      run: npm ci

    - name: Restore .NET Tools
      run: dotnet tool restore

    - name: Check Formatting
      run: npm run format:check
